@model LoginVM

@{
  ViewData["Title"] = "Login";
  var userNameFieldId = "login_input1";
  var passwordFieldId = "login_input2";
}

<h1 class="text-center">Log in</h1>

<form class="m-3" id="contactForm" asp-action="Login" asp-controller="Account" method="POST">
  @Html.AntiForgeryToken()
  @Html.Hidden("", value: @Context.Request.Query["returnUrl"], new { name = "returnUrl" })
  <div class="form-outline mb-4">
    @Html.LabelFor(m => m.Email, new { @class = "form-label", @for = userNameFieldId })
    @Html.TextBoxFor(m => m.Email, null, new
      {
        @class = "form-control",
        id = @userNameFieldId,
        name = "Email",
        placeholder = "Email"
      })
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
  </div>

  <div class="form-outline mb-4">
    @Html.LabelFor(m => m.Password, new { @class = "form-label", @for = passwordFieldId })
    <div class="input-group" id="show_hide_password">
      @Html.EditorFor(m => m.Password, new
        {
          htmlAttributes = new
          {
            @id = passwordFieldId,
            @type = "password",
            @name =
             "password",
            @class = "form-control",
            @placeholder = "Password"
          }
        })
      <div class="input-group-addon">
        <span class="input-group-text">
          <a style="color: black;"><i class="fa fa-eye-slash field-icon m-1" aria-hidden="true"></i></a>
        </span>
      </div>
    </div>
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
  </div>

  <input id="submitButton" type="submit" value="Log in" class="btn btn-primary" />

  <div class="text-center">
    <p>Forgot Password? @Html.ActionLink("Reset Password", "ForgotPassword", "Account")</p>
    <p>Don't have an account? @Html.ActionLink("Register as a new user", "Register", "Account")</p>
    <p>To delete your account, please email me at <b>vincenteri321@gmail.com</b></p>
  </div>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
  <script>
    $(function ()
    {
      showHidePasswordField('show_hide_password')
    });
  </script>
}
