@model LoginVM



@{

  ViewData["Title"] = "Login";

  var userNameFieldId = "login_input1";

  var passwordFieldId = "login_input2";

}



<h1 class="text-center">Log in</h1>


@using (Html.BeginForm("Login", "Account", method: FormMethod.Post, new { id = "contactForm", @class = "m-3" }))
{
  @Html.AntiForgeryToken()

  @Html.Hidden("", value: @Context.Request.Query["returnUrl"], new { name = "returnUrl" })

  <div class="form-outline mb-4">
  @Html.LabelFor(m => m.Email, new { @class = "form-label", @for = userNameFieldId })
  @Html.TextBoxFor(m => m.Email, null, new
      {
        @class = "form-control",
        id = @userNameFieldId,
        name = "Email",
        placeholder = "Email"
      })
  @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
</div>

  <div class="form-outline mb-4">
  @Html.LabelFor(m => m.Password, new { @class = "form-label", @for = passwordFieldId })
  <div class="input-group" id="show_hide_password">
    @Html.EditorFor(m => m.Password, new
        {
          htmlAttributes = new
          {
            @id = passwordFieldId,
            @type = "password",
            @name =
            "password",
            @class = "form-control",
            @placeholder = "Password"
          }
        })
    <div class="input-group-addon">
      <span class="input-group-text">
        <a style="color: black;"><i class="fa fa-eye-slash field-icon m-1" aria-hidden="true"></i></a>
      </span>
    </div>
  </div>
  @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
</div>

  <input id="submitButton" type="submit" value="Log in" class="btn btn-primary" />

  <div class="text-center">
  <p>Don't have an account?
    <a href="https://dotnetusermanagementsystem-production.up.railway.app/Account/Register" target="_blank"
      rel="noopener noreferrer">
      Register Here
    </a>
  </p>
</div>

}



@section Scripts {
  <partial name="_ValidationScriptsPartial" />

  <script>

    $(document).ready(function ()
    {

      showHidePasswordField('show_hide_password')

    });

  </script>

}