@model RegisterModel
 
@{
    ViewData["Title"] = "Register";
 
    var passwordFieldId = "register_input_password";
    var confirmPasswordFieldId = "register_input_confirm_password";
    var emailFieldId = "register_input_email";
    var firstNameFieldId = "register_input_first_name";
    var lastNameFieldId = "register_input_last_name";
 
}
 
<style>
    .gray-out {
        opacity: 0.5; /* reduce opacity to make it appear grayed out */
        cursor: not-allowed; /* change cursor to not-allowed to indicate that it is disabled */
    }
</style>
 
<h1 class="text-center">Register</h1>
<h4 class="mb-3">Create a new account</h4>
<hr />
<form id="contactFormRegister" method="post" action="@Url.Action("Register", "Account")" class="m-3">
    @Html.AntiForgeryToken()
    <div class="form-outline mb-1">
        @Html.LabelFor(m => m.FirstName, new { @class="form-label" })
        @Html.TextBoxFor(m=>m.FirstName, new {@class="form-control", placeholder="First Name"})
        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
    </div>

    <div class="form-outline mb-1">
        @Html.LabelFor(m => m.LastName, new { @class="form-label" })
        @Html.TextBoxFor(m=>m.LastName, new {@class="form-control", placeholder="Last Name"})
        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
    </div>

    <div class="form-outline mb-1">
        @Html.LabelFor(m => m.Email, new { @class="form-label" })
        @Html.TextBoxFor(m=>m.Email, new {@class="form-control", placeholder="Email"})
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-outline mb-2">
        @Html.LabelFor(m => m.Password, new {@class="form-label", @for=passwordFieldId})
        <div class="input-group" id="show_hide_password_register">
            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @id = passwordFieldId, @type = "password", @name = "password", @class = "form-control", @placeholder = "Password" }})
            <div class="input-group-addon">
                <span class="input-group-text">
                    <a style="color: black;"><i class="fa fa-eye-slash field-icon m-1" aria-hidden="true"></i></a>
                </span>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-outline mb-2">
        @Html.LabelFor(m => m.ConfirmPassword, new {@class="form-label", @for=confirmPasswordFieldId})
        <div class="input-group" id="show_hide_confirm_password_register">
            @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @id = confirmPasswordFieldId, @type = "password", @name = "password", @class = "form-control", @placeholder = "Password" }})
            <div class="input-group-addon">
                <span class="input-group-text">
                    <a style="color: black;"><i class="fa fa-eye-slash field-icon m-1" aria-hidden="true"></i></a>
                </span>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    
    <input id="submitButton" type="submit" value="Register" class="btn btn-primary" />

    <div class="text-center">
        <p>
            Already have an account?
            @Html.ActionLink("Sign In", "Login", "Account")
        </p>
    </div>
</form>
 

 
 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
 
    <script>
        $(document).ready(() => {
            showHidePasswordField('show_hide_password_register')
            showHidePasswordField('show_hide_confirm_password_register')
        })
 
    </script>
}

